<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side Div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                      <figure>
                          <img src="images/about.png" alt="muazam" class="img-fluid" title="Muazam Abbas">
                      </figure>
                    </div>
                    <!-- Right Side Div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_clr"> Full Stack Developer </span> Video Editor and Graphic Designer</h1>
                        <a href="https://urdupresss.com/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start Here -->
    {{>footer}}
  </body>
</html>
